$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font-maiden: 'maiden', sans-serif;

@font-face {
    font-family: 'maiden';
    src: url('fonts/maiden-webfont.woff2') format('woff2'),
         url('fonts/maiden-webfont.woff') format('woff'),
         url('fonts/maiden-webfont.TTF') format('TFF');
    font-weight: normal;
    font-style: normal;
}
