// discography-page.scss

.page-template-page-discography-page {
    background-color: $black;

    #content {
        background-color: $black;
    }

    .album-wrapper {
        @include span-columns(3);
        @include omega(4);
        text-align: center;
        margin-top: em(20);
        margin-bottom: em(20);
        background-color: $black;
        height: em(450);
        color: $red;
    }

    .album-cover {
        width: 300px;
        height: auto;
        padding-top: 10px;
    }

    .album-title {
        font-family: $font-maiden;
        font-size: large;
        letter-spacing: 1px;
        height: 100px;
    }

    .album-year {
        bottom: 0;
    }
}
