#masthead {
    height: auto;
    background-color: $black;
    color: $white;


    #site-navigation {
        @include outer-container(100%);
        @include pad(em(20));

        #logo img {
            @include span-columns(4);
            float: left;
            margin-left: em(40);
            display: block;
        }

        .menu-primary-container {
            @include span-columns(8);
            @include omega();
            width: 50%;
            float: right;

            li {
                float: right;
                display: inline-block;
                margin: em(20);
                letter-spacing: 2px;
            }

            a {
                color: $white;
            }
        }
    }

    .featured-image img {
        display: block;
        clear: both;
        margin-left: em(40);
    }
}
